body {
  background-color: #dce3f8;
}

.custom-div {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.project-row {
margin: 0;
}

/* Navbar */
.navbar {
  background-color: white;
}

.navbar-brand {
  margin-right: auto;
}

.search-box {
  position: relative;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  z-index: 1;
}

.search-input {
  padding-left: 35px;
  padding-right: 10px;
}

.nav-icons {
  display: flex;
  align-items: center;
}

.nav-icons i {
  margin-right: 10px;
}

.nav-text {
  margin-right: 10px;
}

/* Table */
.table-separator {
  border-bottom: 2px solid #d5dfff;
}

.table tbody tr {
  padding: 5px 0;
}

/* Attendance */
.subheading {
    font-size: 1.25 rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  .pie-chart {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    border-radius: 50%;
    background-color: #f2f2f2;
    overflow: hidden;
  }

  .chart-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip: rect(0, 50%, 100%, 0);
  }

  .chart-fill {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffc107;
    clip: rect(0, 50%, 100%, 0);
  }

  .chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }

  .identical-divs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
  }

  .inner-div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    border: 1px solid #d5dfff;
    background-color: #f5f8ff;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }

  .paragraphs {
    margin-right: 1rem;
  }

  .arrow {
    width: 10px;
    height: 10px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    transform: rotate(45deg);
    margin-left: 0.5rem;
  }

  .vertical-divider {
    border-left: 1px solid #ccc;
    height: 100%;
}

/* Submit button */
.submit-button {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: blue;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.submit-button:hover {
    background-color: darkblue;
}

/* List */
.scrollable-list {
    height: 200px;
    overflow: auto;
  }

  .custom-list-item {
    background-color: #eaeffc;
    border-radius: 9px;
    padding: 10px;
    margin-bottom: 10px;
  }